<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>
<form th:method="GET" th:action="@{/book}">
    <input type="submit" value="Back">
</form>

<p th:text="${'INFORMATION ABOUT BOOK WITH ID=' + bookGetById.getId()}"></p>
<p th:text="${'Title=' + bookGetById.getTitle()}"></p>
<p th:text="${'Author=' + bookGetById.getAuthor()}"></p>
<p th:text="${'Year=' + bookGetById.getYear()}"></p>
<p th:text="${'Article=' + bookGetById.getArticle()}"></p>

<div th:if="${personList}">
    <form th:method="PUT" th:action="@{/book/assign/{id}(id=${bookOwner.getId()})}">
        <label for="personSelectId">CHOOSE PERSON:</label>
        <select th:object="${bookOwner}"
                th:field="*{id}"
                id="personSelectId"
        >
            <option th:each="bookOwner : ${personList}"
                    th:value="${bookOwner.getId()}"
                    th:text="${bookOwner.getName() + ' ' + bookOwner.getLastname() + ',inn= ' + bookOwner.getInn()}">
            </option>
        </select>

        <input type="submit" value="Assign">
    </form>
</div>
<br>
<div th:if="${bookPersonOwner}">
    <p>Current Book owner is =</p>
    <a th:href="@{/person/{id}(id=${bookPersonOwner.getId()})}"
       th:text="${bookPersonOwner.getName() + ' ' + bookPersonOwner.getLastname() + ', inn= ' + bookPersonOwner.getInn()}">
    </a>
    <br>
    <form th:method="PUT"
    th:action="@{/book/release/{id}(id=${bookPersonOwner.getId()})}">
        <input type="submit" value="Release">
    </form>

</div>
<br>
<br>
<br>
<div>
    <form th:method="GET" th:action="@{/book/edit/{id}(id=${bookGetById.getId()})}" style="display: inline">
        <input type="submit" value="Edit">
    </form>

    <form th:method="DELETE"
          th:action="@{/book/{id}(id=${bookGetById.getId()})}" style="display: inline">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>