<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>

<p th:text="${'INFORMATION ABOUT BOOK WITH ID=' + bookGetById.getId()}"></p>
<p th:text="${'Title=' + bookGetById.getTitle()}"></p>
<p th:text="${'Author=' + bookGetById.getAuthor()}"></p>
<p th:text="${'Year=' + bookGetById.getYear()}"></p>
<p th:text="${'Article=' + bookGetById.getArticle()}"></p>


<form th:method="DELETE"
      th:action="@{/book/{id}(id=${bookGetById.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>