<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People page</title>
</head>
<body>

<div th:each="person : ${personGetAll}">
    <a th:href="@{/person/{id}(id=${person.getId()})}"
       th:text="${person.getId()
     + '. Name=' + person.getName()
     + ', lastname=' + person.getLastname()
     + ', inn=' + person.getInn()
     + ', birthdate=' + @personController.formatDate(person.getBirthdate())
    }"
    >
    </a>

    <form th:method="GET"
          th:action="@{person/edit/{id}(id=${person.getId()})}"
          style="display: inline">
        <input type="submit" value="Edit">

    </form>
</div>


<form th:method="GET"
      th:action="@{/person/new}">
    <input type="submit" value="Add new Person">

</form>

</body>
</html>