<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person page</title>
</head>
<body>
<form th:method="GET"
      th:action="@{/person}">
    <input type="submit" value="Back">
</form>

<p th:text="${'INFORMATION ABOUT PERSON WITH ID='+personGetById.getId()}"></p>
<p th:text="${'Name='+personGetById.getName()}"></p>
<p th:text="${'Lastname='+personGetById.getLastname()}"></p>
<p th:text="${'INN='+personGetById.getInn()}"></p>
<p th:text="${'Birthdate='+ @personController.formatDate(personGetById.getBirthdate())}"></p>


<div th:if="${bookTakenList}"
     th:each="book : ${bookTakenList}">
    <p>LIST OF BOOKS:</p>
    <a th:href="@{/book/{id}(id=${book.getId()})}"
       th:text="${book.getId() + '. Title=' + book.getTitle() + ', author=' + book.getAuthor() + ', year=' + book.getYear() + ', article=' + book.getArticle()}"
    >
    </a>
</div>

<div th:if="${bookEmptyList}"
th:text="${'No books taken yet'}">
</div>


<form th:method="GET"
      th:action="@{/person/edit/{id}(id=${personGetById.getId()})}"
      style="display: inline">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE"
      th:action="@{/person/{id}(id=${personGetById.getId()})}"
      style="display: inline">
    <input type="submit" value="Delete">
</form>


</body>
</html>