<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person update page</title>
</head>
<body>

<form th:method="GET" th:action="@{/person/{id}(id=${personUpdate.getId()})}">
<input type="submit" value="Back">
</form>

<form th:method="PUT"
      th:action="@{/person/{id} (id=${personUpdate.getId()})}"
      th:object="${personUpdate}">

    <label for="nameId">Name=</label>
    <input type="text" th:field="*{name}" id="nameId">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>

    <label for="lastnameId">Lastname=</label>
    <input type="text" th:field="*{lastname}" id="lastnameId">
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    <br>

    <label for="innId">INN=</label>
    <input type="text" th:field="*{inn}" id="innId">
    <div style="color:red" th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}"></div>
    <br>

    <label for="birthdateId">Birthdate=</label>
    <input type="text" th:field="*{birthdate}" id="birthdateId">
    <div style="color: red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
    <br>
    <input type="submit" value="Edit">
</form>

</body>
</html>